<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://kit.fontawesome.com/e9f64432b6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" class="icon">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="profile.css">
</head>
<body class="bg-light">
      <!-- creating the nav-bar section -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand text-primary" id="navbar-brand" href="/components/home/index.html">JobHunt</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse px-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" id="text" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="text" aria-current="page" href="/components/intern/intern.html">Interns</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="text" aria-current="page" href="#">About</a>
              </li>
              
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search Candidate" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- creating a more detailed section for the intern -->
     <div class="container my-4">
      <div class="card">
        <img src="/images/interns/profile1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="intern-name">Jane Smith</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde perspiciatis quidem quas eveniet, neque eaque pariatur explicabo quo dignissimos officiis dolor. Minima harum dolorem, quod 
          alias velit repellat fugit? Amet iure assumenda consequatur eveniet cum sunt excepturi eaque esse et!</p>
        </div>
        <div class="mt-2 my-2">
          <a href="#" class="btn btn-outline-primary"> <i class="fa-brands fa-whatsapp"></i> </a>
          <a href="#" class="btn btn-outline-primary"><i class="fa-brands fa-linkedin-in"></i> </a>
          <a href="#" class="btn btn-outline-primary"><i class="fa-brands fa-facebook"></i> </a>
          <a href="#" class="btn btn-outline-primary"><i class="fa-brands fa-twitter"></i> </a>
        </div>
      </div>
     </div>

     <div class="footer mt-2">
      <footer>
          <p> <span id="year"> </span> © JobHunt. All rights reserved</p>
      </footer>
  </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="profile.js"></script>
</body>
</html>